@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-light: #ffffff;
    --color-dark: #000;
    --color-puple: #060a33;
    --color-dark-blue: #101A88;

    --bg-color: rgba(255, 255, 255, 0.05);
    --highlight: rgba(255, 255, 255, 0.75);
    --text: #ffffff;

    --gap: 2rem;
    --radius: 50px;
    --transition-duration: 0.6s;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

a {
    color: var(--color-light);
    text-decoration: none;
    font-weight: 300;
    white-space: nowrap;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

ul {
    list-style: none;
}

body {
    height: 200vh;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    color: var(--color-light);
    background-image: radial-gradient(circle closest-corner, var(--color-puple), var(--color-dark));
}

.glass-filter,
.glass-overlay,
.glass-specular {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
}

.glass-filter {
    z-index: 1;
    backdrop-filter: blur(14px);
    filter: url(#glass-distortion) saturate(120%) brightness(1.15);
}

.glass-overlay {
    z-index: 2;
    background: var(--bg-color);
}

.glass-specular {
    z-index: 3;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1), 0 4px 20px rgba(187, 155, 255, 0.5);
    border: 1px solid #ffffff22;
}

.navbar {
    --nav-width: clamp(22rem, 65vw, 28.5rem);
    position: fixed;
    padding-inline: 1.2rem;
    height: 5rem;
    width: var(--nav-width);    
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    z-index: 1000;
    transition-property: all;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.navbar.scrolled {
    width: 5rem;
    height: 5rem;
    aspect-ratio: 1;
    padding-inline: 0;
    border-radius: 50%;
}

.burger-btn {
    width: 3.75rem;
    position: absolute;
    aspect-ratio: 1;
    border-radius: 50%;
    z-index: 5;
    opacity: 0;
    transition: opacity 0.3s 0.45s;
    pointer-events: none;
}

.burger-btn:hover {
    background-color: #ffffff65;
}

.burger-btn i {
    font-size: 0;
    color: var(--color-light);
}

.navbar.scrolled .burger-btn {
    opacity: 0.45;
    background-color: #000000;
    backdrop-filter: blur(10px);
    border: 1px solid #ffffff33;
    pointer-events: all;
}

.navbar.scrolled .burger-btn i {
    font-size: 1.4rem;
}

.navbar ul {
    position: relative;
    z-index: 4;
    display: flex;
    column-gap: 2.5rem;
    justify-content: center;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: var(--transition-timing-function);
    scale: 1;
}

.navbar.scrolled ul {
    column-gap: 0;
    pointer-events: none;
    transition-duration: .35s;
}

.navbar ul li {
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    opacity: 1;
    scale: 1;
    transition-property: all;
    transition-duration: .4s;
    transition-timing-function: var(--transition-timing-function);
    transition-delay: 0;
}

.navbar.scrolled ul li {
    font-size: 0;
    scale: 0.6;
    opacity: 0;
    filter: blur(10px);
    transition-delay: .15s;
}

.menu {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all var(--transition);
    z-index: 999;
}

.menu.open {
    opacity: 1;
    visibility: visible;
}

.menu-content {
    position: relative;
    padding: 3rem 2rem;
    border-radius: 24px;
    transform: scale(0.9);
    display: flex;
    justify-content: center;
    row-gap: 0.8rem;
    flex-direction: column;
    transition: transform var(--transition);
    min-width: 280px;
    background-color: #ffffff05;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.menu.open .menu-content {
    transform: scale(1);
}

.menu-content li {
    display: flex;
    position: relative;
    z-index: 3;
    align-items: center;
    column-gap: 0.5rem;
}

.menu-content li a {
    font-size: 1.4rem;
    line-height: 1.2;
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;
    }
}

@media (prefers-reduced-motion: reduce),
       (max-width: 480px) and (max-device-width: 480px) {
  .glass-filter {
    backdrop-filter: blur(4px) saturate(110%) !important;
    filter: none !important;           /* ← отключаем svg distortion полностью */
  }
}

